In [1]:
import pandas as pd
import numpy as np
import findspark
findspark.init('C:\spark\spark-3.1.2-bin-hadoop3.2')
import pyspark

from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [2]:
#Defining dataframe
flight = spark.read.option("inferschema","true").option("header","true").csv("flightex.csv")
flight.show(5)
flight.printSchema()

+------------+---------+-----------+----------+-------------+
|FlightNumber|    Start|Destination|      Date|FlightsPerDay|
+------------+---------+-----------+----------+-------------+
|       LH913|Frankfrut|     London|2019-03-05|            3|
|       LH914|Frankfrut|     London|2019-03-06|            1|
|       LH915|Frankfrut|     London|2019-03-07|         null|
|       LH916|Frankfrut|     London|2019-03-08|            2|
|       LH917|Frankfrut|     London|      null|            3|
+------------+---------+-----------+----------+-------------+

root
 |-- FlightNumber: string (nullable = true)
 |-- Start: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- FlightsPerDay: string (nullable = true)

In [3]:
flight.select('Start').show()

+---------+
|    Start|
+---------+
|Frankfrut|
|Frankfrut|
|Frankfrut|
|Frankfrut|
|Frankfrut|
+---------+

# Null values

In [8]:
data = [
    ("James",None,"M"),
    ("Anna","NY","F"),
    ("Julia",None,None)
  ]

columns = ["name","state","gender"]
df = spark.createDataFrame(data,columns)
df.show()

+-----+-----+------+
| name|state|gender|
+-----+-----+------+
|James| null|     M|
| Anna|   NY|     F|
|Julia| null|  null|
+-----+-----+------+

# #Filtering or Counting Null Values

In [31]:
#df.filter(col("state").isNull()).show()
#df.filter(df['state'].isNull()).show()
#df.filter(col("state").isNull() & col("gender").isNull() ).show()
#df.filter(col("state").isNotNull()).show()

#df.createOrReplaceTempView("DATA")
#spark.sql("SELECT * FROM DATA where STATE IS NULL").show()

#df.filter(col("state").isNull()).count()

2

# #Filling Or Dropping Null Values

In [37]:
#df.na.drop(subset=["state"]).show()
#df.na.drop("any").show()
#df.na.drop().show()

#df.na.fill(value=0).show()
#df.na.fill(0,subset=["state"]).show()
#df.na.fill(0,subset=["state"]).na.fill(1,subset=['gender']).show()

+-----+-----+------+
| name|state|gender|
+-----+-----+------+
|James| null|     M|
| Anna|   NY|     F|
|Julia| null|  null|
+-----+-----+------+

# Filter

In [61]:
#conditions
#df.filter((df.name == "James") | (df.name == "Julia")).show()
#df.filter(df.name.startsWith("J")).show() 
#endsWith  
#contains

# Columns

# #Basic

In [43]:
#df.select(col('state')).show()
#spark.sql('SELECT state FROM DATA WHERE state IS NOT NULL').show()

#Arithmetic operations on columns 
#All Column functions(like, asc,desc..) used in pyspark

#df.sort(col('gender').asc()).show()

+-----+-----+------+
| name|state|gender|
+-----+-----+------+
|Julia| null|  null|
| Anna|   NY|     F|
|James| null|     M|
+-----+-----+------+

# #withColumn

In [51]:
#Change data type
#df.withColumn("state",col("state").cast("String")).show()

#update value
#df.withColumn("state",col("state")*2).show()
#df.withColumn("newcol",col("state")*2).show()

#add new column
#df.withColumn("Country", lit("USA")).show()
#df.withColumn("Country", lit("USA")).withColumn("anotherColumn",lit("anotherValue")).show()

#Rename Column
#df.withColumnRenamed("gender","sex").show()
#df.withColumnRenamed("gender","sex").show(truncate=False)
#df.withColumnRenamed("gender","sex").printSchema()
#df.withColumnRenamed("gender","sex").withColumnRenamed("name","first_name").show()

#Drop column
#df.drop("state").show()

+-----+------+
| name|gender|
+-----+------+
|James|     M|
| Anna|     F|
|Julia|  null|
+-----+------+