In [1]:
import pandas as pd
import numpy as np
import findspark
findspark.init('C:\spark\spark-3.1.2-bin-hadoop3.2')
import pyspark

from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [2]:
customer = spark.read.option("inferschema","true").option("header","true").csv("customers.csv")
customer.show()

+-----------+------+-------+----------+------------+
|customer_id|  name|address|   website|credit_limit|
+-----------+------+-------+----------+------------+
|          1|  Mike|    Usa|  Mike.com|       77144|
|          2|  John|    Usa|  John.com|       39943|
|          3|  Bray|    Usa|  Bray.com|       64925|
|          4|Dwayne|    Usa|Dwayne.com|       65935|
|          5| Scott|    Usa| Scott.com|       54935|
+-----------+------+-------+----------+------------+

In [13]:
customer.groupBy("customer_id").pivot("customer_id").count().show()

+-----------+----+----+----+----+----+
|customer_id|   1|   2|   3|   4|   5|
+-----------+----+----+----+----+----+
|          1|   1|null|null|null|null|
|          3|null|null|   1|null|null|
|          5|null|null|null|null|   1|
|          4|null|null|null|   1|null|
|          2|null|   1|null|null|null|
+-----------+----+----+----+----+----+

In [7]:
customer.select("*").show()

+-----------+------+-------+----------+------------+
|customer_id|  name|address|   website|credit_limit|
+-----------+------+-------+----------+------------+
|          1|  Mike|    Usa|  Mike.com|       77144|
|          2|  John|    Usa|  John.com|       39943|
|          3|  Bray|    Usa|  Bray.com|       64925|
|          4|Dwayne|    Usa|Dwayne.com|       65935|
|          5| Scott|    Usa| Scott.com|       54935|
+-----------+------+-------+----------+------------+

In [14]:
#Slice one dimension is defined
slic = customer.where(col('name')=='Mike')
slic.show()

+-----------+----+-------+--------+------------+
|customer_id|name|address| website|credit_limit|
+-----------+----+-------+--------+------------+
|          1|Mike|    Usa|Mike.com|       77144|
+-----------+----+-------+--------+------------+

In [25]:
#Dice more than one dimension
dic = customer.where((col('name')=='Mike')&(col('address')=='Usa'))
dic.show()

+-----------+----+-------+--------+------------+
|customer_id|name|address| website|credit_limit|
+-----------+----+-------+--------+------------+
|          1|Mike|    Usa|Mike.com|       77144|
+-----------+----+-------+--------+------------+

In [26]:
#Rollup
#Rolling up from country to region
roll = customer.groupBy("address").sum("credit_limit")
roll.show()

+-------+-----------------+
|address|sum(credit_limit)|
+-------+-----------------+
|    Usa|           302882|
+-------+-----------------+

In [ ]:
#Drill down
#opposite of rollup