In [1]:

import pandas as pd
import numpy as np
import findspark
findspark.init('C:\spark\spark-3.1.2-bin-hadoop3.2')
import pyspark

from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import col
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [2]:
df = spark.read.csv("2010-12-01.csv", header=True, inferSchema=True)
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [3]:
df.dtypes

[('InvoiceNo', 'string'),
 ('StockCode', 'string'),
 ('Description', 'string'),
 ('Quantity', 'int'),
 ('InvoiceDate', 'string'),
 ('UnitPrice', 'double'),
 ('CustomerID', 'double'),
 ('Country', 'string')]

In [5]:
df.createTempView("stocks")

In [6]:
spark.sql("SELECT * FROM stocks").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [7]:
spark.sql("SELECT CustomerID,StockCode,Quantity,SUBSTRING(InvoiceDate,12,2) AS Hour FROM stocks").show()

+----------+---------+--------+----+
|CustomerID|StockCode|Quantity|Hour|
+----------+---------+--------+----+
|   17850.0|   85123A|       6|  08|
|   17850.0|    71053|       6|  08|
|   17850.0|   84406B|       8|  08|
|   17850.0|   84029G|       6|  08|
|   17850.0|   84029E|       6|  08|
|   17850.0|    22752|       2|  08|
|   17850.0|    21730|       6|  08|
|   17850.0|    22633|       6|  08|
|   17850.0|    22632|       6|  08|
|   13047.0|    84879|      32|  08|
|   13047.0|    22745|       6|  08|
|   13047.0|    22748|       6|  08|
|   13047.0|    22749|       8|  08|
|   13047.0|    22310|       6|  08|
|   13047.0|    84969|       6|  08|
|   13047.0|    22623|       3|  08|
|   13047.0|    22622|       2|  08|
|   13047.0|    21754|       3|  08|
|   13047.0|    21755|       3|  08|
|   13047.0|    21777|       4|  08|
+----------+---------+--------+----+
only showing top 20 rows

In [8]:
spark.sql("SELECT Country,COUNT(StockCode) AS Products FROM stocks GROUP BY country").show()

+--------------+--------+
|       Country|Products|
+--------------+--------+
|       Germany|      29|
|        France|      20|
|          EIRE|      21|
|        Norway|      73|
|     Australia|      14|
|United Kingdom|    2949|
|   Netherlands|       2|
+--------------+--------+

In [9]:
df2 = df.withColumn("Hour",col("InvoiceDate").substr(12, 2))
df2.select(col("CustomerID"),col("StockCode"),col("Quantity"),col("Hour")).show()

+----------+---------+--------+----+
|CustomerID|StockCode|Quantity|Hour|
+----------+---------+--------+----+
|   17850.0|   85123A|       6|  08|
|   17850.0|    71053|       6|  08|
|   17850.0|   84406B|       8|  08|
|   17850.0|   84029G|       6|  08|
|   17850.0|   84029E|       6|  08|
|   17850.0|    22752|       2|  08|
|   17850.0|    21730|       6|  08|
|   17850.0|    22633|       6|  08|
|   17850.0|    22632|       6|  08|
|   13047.0|    84879|      32|  08|
|   13047.0|    22745|       6|  08|
|   13047.0|    22748|       6|  08|
|   13047.0|    22749|       8|  08|
|   13047.0|    22310|       6|  08|
|   13047.0|    84969|       6|  08|
|   13047.0|    22623|       3|  08|
|   13047.0|    22622|       2|  08|
|   13047.0|    21754|       3|  08|
|   13047.0|    21755|       3|  08|
|   13047.0|    21777|       4|  08|
+----------+---------+--------+----+
only showing top 20 rows

In [10]:
df.select(col("CustomerID"),col("StockCode"),col("Quantity"),(col("InvoiceDate").substr(12, 2)).alias("Hour")).show()

+----------+---------+--------+----+
|CustomerID|StockCode|Quantity|Hour|
+----------+---------+--------+----+
|   17850.0|   85123A|       6|  08|
|   17850.0|    71053|       6|  08|
|   17850.0|   84406B|       8|  08|
|   17850.0|   84029G|       6|  08|
|   17850.0|   84029E|       6|  08|
|   17850.0|    22752|       2|  08|
|   17850.0|    21730|       6|  08|
|   17850.0|    22633|       6|  08|
|   17850.0|    22632|       6|  08|
|   13047.0|    84879|      32|  08|
|   13047.0|    22745|       6|  08|
|   13047.0|    22748|       6|  08|
|   13047.0|    22749|       8|  08|
|   13047.0|    22310|       6|  08|
|   13047.0|    84969|       6|  08|
|   13047.0|    22623|       3|  08|
|   13047.0|    22622|       2|  08|
|   13047.0|    21754|       3|  08|
|   13047.0|    21755|       3|  08|
|   13047.0|    21777|       4|  08|
+----------+---------+--------+----+
only showing top 20 rows

In [71]:
df.groupBy("Country").count()

DataFrame[Country: string, count: bigint]

In [15]:
datacube = df

In [16]:
us_items = datacube.slice(col("Country") == "United States")

AttributeError: 'DataFrame' object has no attribute 'slice'

In [18]:
slie = datacube.select("Country").where("United States")

AnalysisException: cannot resolve '`United`' given input columns: [Country]; line 1 pos 0;
'Filter 'United
+- Project [Country#23]
   +- Relation[InvoiceNo#16,StockCode#17,Description#18,Quantity#19,InvoiceDate#20,UnitPrice#21,CustomerID#22,Country#23] csv

In [40]:
slice = datacube.where(col("Country") == "United States")
slice.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [23]:
us_items = datacube.get("Country" == "United States")

AttributeError: 'DataFrame' object has no attribute 'get'

In [25]:
dice = datacube.where((col("Country") == "United States") | (col("Country") == "United Kingdom").where(col("Quantity") == 0))

TypeError: 'Column' object is not callable

In [26]:
subcube = datacube.dice(((col("Country") == "United States") | (col("Country") == "United Kingdom")) & (col("Quantity") == 0))

AttributeError: 'DataFrame' object has no attribute 'dice'

In [39]:
dice = datacube.where(((col("Country") == "United States") | (col("Country") == "United Kingdom")) & (col("Quantity") == 0))
dice.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [32]:
subcube = datacube.get(((col("Country") == "United States") | (col("Country") == "United Kingdom")) & (col("Quantity") == 0))

AttributeError: 'DataFrame' object has no attribute 'get'

In [38]:
roll_up = datacube.select("StockCode", "Country", (col("Quantity") > 0).alias("positive quantity"))
roll_up.show()

+---------+--------------+-----------------+
|StockCode|       Country|positive quantity|
+---------+--------------+-----------------+
|   85123A|United Kingdom|             true|
|    71053|United Kingdom|             true|
|   84406B|United Kingdom|             true|
|   84029G|United Kingdom|             true|
|   84029E|United Kingdom|             true|
|    22752|United Kingdom|             true|
|    21730|United Kingdom|             true|
|    22633|United Kingdom|             true|
|    22632|United Kingdom|             true|
|    84879|United Kingdom|             true|
|    22745|United Kingdom|             true|
|    22748|United Kingdom|             true|
|    22749|United Kingdom|             true|
|    22310|United Kingdom|             true|
|    84969|United Kingdom|             true|
|    22623|United Kingdom|             true|
|    22622|United Kingdom|             true|
|    21754|United Kingdom|             true|
|    21755|United Kingdom|             true|
|    21777|United Kingdom|             true|
+---------+--------------+-----------------+
only showing top 20 rows

In [55]:
roll_up2 = datacube.rollup("Stock Code", "Country", (col("Quantity") > 0).alias("positive quantity"))
roll_up2

In [51]:
roll_up3 = datacube.where(col("Quantity") > 0)
roll_up3.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [58]:
spark.sql("SELECT CustomerID,StockCode,Quantity,GroupBy(SUBSTRING(InvoiceDate,12,2)) FROM stocks").show()

AnalysisException: Undefined function: 'GroupBy'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 1 pos 37

In [61]:
spark.sql("SELECT SUM(Quantity) AS Quantity,SUBSTRING(InvoiceDate,12,2) AS Hour FROM stocks GROUP BY Hour ORDER By Hour ASC").show()

+--------+----+
|Quantity|Hour|
+--------+----+
|     602|  08|
|    3259|  09|
|    2794|  10|
|    2356|  11|
|    4161|  12|
|    3240|  13|
|    2486|  14|
|    1876|  15|
|    4321|  16|
|    1719|  17|
+--------+----+

In [75]:
df.groupby("SUBSTRING(InvoiceDate,12,2)").orderby("SUBSTRING(InvoiceDate,12,2)",ascending=False)

AttributeError: 'GroupedData' object has no attribute 'orderby'

In [76]:
df.orderby("SUBSTRING(InvoiceDate,12,2)",ascending=False)

AttributeError: 'DataFrame' object has no attribute 'orderby'

In [77]:
df.count().filter("SUBSTRING(InvoiceDate,12,2)").sort(desc("Quantity"))

AttributeError: 'int' object has no attribute 'filter'

In [87]:
df.select("SUBSTRING(InvoiceDate,12,2)").alias("Hour").groupby("Hour").agg(sum("Quantity"))

AnalysisException: cannot resolve '`SUBSTRING(InvoiceDate,12,2)`' given input columns: [Country, CustomerID, Description, InvoiceDate, InvoiceNo, Quantity, StockCode, UnitPrice];
'Project ['SUBSTRING(InvoiceDate,12,2)]
+- Relation[InvoiceNo#16,StockCode#17,Description#18,Quantity#19,InvoiceDate#20,UnitPrice#21,CustomerID#22,Country#23] csv

In [82]:
df.groupBy($"SUBSTRING(InvoiceDate,12,2)").agg(max("diff").as("maxDiff"))

AnalysisException: cannot resolve '`substring(InvoiceDate,12,2)`' given input columns: [Country, CustomerID, Description, InvoiceDate, InvoiceNo, Quantity, StockCode, UnitPrice];
'Project [quantity#19, 'substring(InvoiceDate,12,2)]
+- Relation[InvoiceNo#16,StockCode#17,Description#18,Quantity#19,InvoiceDate#20,UnitPrice#21,CustomerID#22,Country#23] csv

In [100]:
df.select(col("Quantity"),(col("InvoiceDate").substr(12, 2)).alias("Hour")).groupby("Hour").agg(sum("Quantity"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [93]:
df.select('quantity', ('InvoiceDate').substr(12,2).alias("Hour")).groupBy("Hour").sum("quantity").orderBy("Hour").show()

AttributeError: 'str' object has no attribute 'substring'

In [102]:
df.select(sum("Quantity"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [103]:
df.select('quantity', ('InvoiceDate').substr(12,2).alias("Hour"))

AttributeError: 'str' object has no attribute 'substr'

In [104]:
df.select('Quantity',substring('InvoiceDate',12,2).alias("Hour")).groupBy("Hour").sum("Quantity").orderBy("Hour").show()

NameError: name 'substring' is not defined

In [116]:
from pyspark.sql.functions import count
df.groupBy("Country").agg(count("StockCode").alias("Products")).show()

+--------------+--------+
|       Country|Products|
+--------------+--------+
|       Germany|      29|
|        France|      20|
|          EIRE|      21|
|        Norway|      73|
|     Australia|      14|
|United Kingdom|    2949|
|   Netherlands|       2|
+--------------+--------+