In [1]:
# import spark into the notebook
import findspark
findspark.init()

In [2]:
# import important libraries
import pyspark
from pyspark.sql.functions import col, mean, variance, expr
import math

In [3]:
sparkContext = pyspark.SparkContext("local", "Programming Task")
sparkContext.setLogLevel('ERROR')
spark = pyspark.sql.SparkSession(sparkContext)

In [4]:
dataframe = spark.read.option("header", "true").option("inferSchema", "true").csv("./income_evaluation.csv")
dataframe.show(5)

+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|age|        workclass|fnlwgt| education|education-num|     marital-status|        occupation|  relationship|  race|    sex|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov| 77516| Bachelors|           13|      Never-married|      Adm-clerical| Not-in-family| White|   Male|        2174|           0|            40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311| Bachelors|           13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            13| United-States| <=50K|
| 38|          Private|215646|   HS-grad|            9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|           0|           0|            40| United-States| <=50K|
| 53|          Private|234721|      11th|            7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|           0|           0|            40| United-States| <=50K|
| 28|          Private|338409| Bachelors|           13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|           0|           0|            40|          Cuba| <=50K|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [5]:
# Task 1: Print the schema of the dataframe

In [6]:
# Task 2 drop rows with missing values

In [7]:
# Task 3 select only the following columns ['workclass', 'fnlwgt', 'education-num', 'capital-gain', "hours-per-week"]
dataframe = dataframe.select(col("workclass"), col("fnlwgt"), col("education-num"), col("capital-gain"), col("hours-per-week"))
dataframe.show()

+-----------------+------+-------------+------------+--------------+
|        workclass|fnlwgt|education-num|capital-gain|hours-per-week|
+-----------------+------+-------------+------------+--------------+
|        State-gov| 77516|           13|        2174|            40|
| Self-emp-not-inc| 83311|           13|           0|            13|
|          Private|215646|            9|           0|            40|
|          Private|234721|            7|           0|            40|
|          Private|338409|           13|           0|            40|
|          Private|284582|           14|           0|            40|
|          Private|160187|            5|           0|            16|
| Self-emp-not-inc|209642|            9|           0|            45|
|          Private| 45781|           14|       14084|            50|
|          Private|159449|           13|        5178|            40|
|          Private|280464|           10|           0|            80|
|        State-gov|141297|           13|           0|            40|
|          Private|122272|           13|           0|            30|
|          Private|205019|           12|           0|            50|
|          Private|121772|           11|           0|            40|
|          Private|245487|            4|           0|            45|
| Self-emp-not-inc|176756|            9|           0|            35|
|          Private|186824|            9|           0|            40|
|          Private| 28887|            7|           0|            50|
| Self-emp-not-inc|292175|           14|           0|            45|
+-----------------+------+-------------+------------+--------------+
only showing top 20 rows

In [10]:
# Define functiton that returns a dataframe that contains the means of both potability 0 and potability 1
########################################
# workclass  |  col 1  | col 2  | ...   #
#  class 1   |mean 1.1 |mean 1.2| ...   #
#  class 2   |mean 0.1 |mean 0.2| ...   #
########################################
def calculate_mean(dataframe):
    # Complete this function
    new = dataframe.groupBy('workclass').mean()
    return new

In [11]:
means = calculate_mean(dataframe)
means.show()

+-----------------+------------------+------------------+------------------+-------------------+
|        workclass|       avg(fnlwgt)|avg(education-num)| avg(capital-gain)|avg(hours-per-week)|
+-----------------+------------------+------------------+------------------+-------------------+
|        State-gov|184136.61325115562|11.375963020030817| 701.6995377503852|  39.03158705701079|
|      Federal-gov|      185221.24375|10.973958333333334| 833.2322916666667|  41.37916666666667|
| Self-emp-not-inc|175608.64147973238|10.226288862652499|1886.0617866981504| 44.421881149153876|
|        Local-gov|188639.71285236502|11.042044911610128|  880.202580028667|  40.98279980888677|
|          Private| 192764.1147338738| 9.879714487134297| 889.2177916813536| 40.267095523440254|
|                ?|188516.33823529413| 9.260348583877995| 606.7957516339869|  31.91938997821351|
|     Self-emp-inc| 175981.3440860215|11.137096774193548| 4875.693548387097|  48.81810035842294|
|      Without-pay|          174267.5| 9.071428571428571|487.85714285714283| 32.714285714285715|
|     Never-worked|225989.57142857142| 7.428571428571429|               0.0| 28.428571428571427|
+-----------------+------------------+------------------+------------------+-------------------+

In [21]:
# Return a dataframe that contains variance of both classes of Potability
########################################
# Potability  |  col 1 | col 2 | ...   #
#      1      |var 1.1 |var 1.2| ...   #
#      0      |var 0.1 |var 0.2| ...   #
########################################
def calculate_variance(dataframe):
    # Complete this function
    new = dataframe.groupBy('workclass').variance()
    return new

In [22]:
variances = calculate_variance(dataframe)
variances.show()

AttributeError: 'GroupedData' object has no attribute 'variance'

In [27]:
# Calculate probability of work class being State-gov
p_state_gov = (dataframe.filter(col('workclass')=='State-gov').count())/(dataframe.count())
p_state_gov

0.0

In [ ]:
# Calculate probability of work class being Private
p_private = # Enter code here
p_private

In [30]:
dataframe.groupBy('workclass').count().show()

+-----------------+-----+
|        workclass|count|
+-----------------+-----+
|        State-gov| 1298|
|      Federal-gov|  960|
| Self-emp-not-inc| 2541|
|        Local-gov| 2093|
|          Private|22696|
|                ?| 1836|
|     Self-emp-inc| 1116|
|      Without-pay|   14|
|     Never-worked|    7|
+-----------------+-----+

In [25]:
dataframe.count()

32561

In [31]:
1298/32561

0.039863640551580114

In [32]:
22696/32561

0.6970301894904948