In [1]:

import pandas as pd
import math as m


df = pd.DataFrame({'age':[59,35,37,52,48,37,37,48,41,37,39,49,55,37,35,36,42],
                   'salary':[88000,61000,70000,21000,141000,93000,62000,138000,79000,78000,134000,89000,39000,77000,57000,63000,73000],
                   'purchased':['0','1','0','0','1','0','1','0','1','0','0','0','0','1','1','1','0']})

totalNo = df[df['purchased'] == '0']
totalYes = df[df['purchased'] == '1']

sumYes = totalYes['salary'].sum()
sumNo = totalNo['salary'].sum()

sumYesAge = totalYes['age'].sum()
sumNoAge = totalNo['age'].sum()

In [1]:
import pandas as pd
df = pd.read_csv('gnb.csv')
df

   ID      Type     Amount  OldBalance  isFraud
0   1   PAYMENT    9839.64   170136.00        0
1   2   PAYMENT    1864.28    21249.00        0
2   3  TRANSFER     181.00      181.00        1
3   4  CASH_OUT     181.00      181.00        1
4   5  TRANSFER  865948.49   865948.49        1
5   6  CASH_OUT   86120.87    94120.40        1
6   7  CASH_OUT    5378.12    39005.00        0
7   8   PAYMENT    6027.23   175690.81        0
8   9  TRANSFER  539880.48    56395.00        0
9  10   PAYMENT    4300.00     4305.75        1

In [2]:
def calculateMean(sum, total):
    mean = sum / total
    return mean

In [3]:
totalNo = df[df['isFraud'] == '0']
totalYes = df[df['isFraud'] == '1']

sumYes = totalYes['Amount'].sum()
sumNo = totalNo['Amount'].sum()

sumYesAge = totalYes['OldBalance'].sum()
sumNoAge = totalNo['OldBalance'].sum()

In [4]:
meanYes = calculateMean(sumYes, totalYes['Amount'].count())
print("Mean value for yes:",round(meanYes,2))
meanNo = calculateMean(sumNo, totalNo['Amount'].count())
print("Mean value for No:",round(meanNo,2))

Mean value for yes: nan
Mean value for No: nan

<ipython-input-2-eb49a3cbc7d8>:2: RuntimeWarning: invalid value encountered in double_scalars
  mean = sum / total

In [4]:
meanYesAge = calculateMean(sumYesAge, totalYes['age'].count())
print("Mean value for yes age:",round(meanYesAge,2))
meanNoAge = calculateMean(sumNoAge, totalNo['age'].count())
print("Mean value for No age:",round(meanNoAge,2))

listYes = totalYes['salary'].tolist()
listNo = totalNo['salary'].tolist()

listYesAge = totalYes['age'].tolist()
listNoAge = totalNo['age'].tolist()

Mean value for yes age: 38.43
Mean value for No age: 45.5

In [5]:
def calculateVarience(mean, list, total):
    totalVal = 0
    for l in list:
        val = (l - mean) ** 2
        totalVal = totalVal + val
    std = m.sqrt(totalVal / (total - 1))
    print("Standard Deviation:", round(std,2))
    varience = totalVal / (total - 1)
    return varience

In [6]:
varienceYes = calculateVarience(meanYes, listYes, totalYes['purchased'].count())
print("Varience for Yes:",round(varienceYes,2))
varienceNo = calculateVarience(meanNo, listNo, totalNo['purchased'].count())
print("Varience for No:",round(varienceNo,2))

varienceYesAge = calculateVarience(meanYesAge, listYesAge, totalYes['age'].count())
print("Varience for Yes Age:",round(varienceYesAge,2))
varienceNoAge = calculateVarience(meanNoAge, listNoAge, totalNo['age'].count())
print("Varience for No Age:",round(varienceNoAge,2))

Standard Deviation: 29373.62
Varience for Yes: 862809523.81
Standard Deviation: 36295.24
Varience for No: 1317344444.44
Standard Deviation: 4.69
Varience for Yes Age: 21.95
Standard Deviation: 8.2
Varience for No Age: 67.17

In [7]:
def probability(mean, varience, x):
    p = (1 / (m.sqrt(varience * 2 * m.pi))) * pow(m.e,((-1/2)*pow((x - mean),2))/varience)
    return p

In [8]:
pYesAge = probability(meanYesAge, varienceYesAge, 38)
print("P(38|1):",pYesAge)
pNoAge = probability(meanNoAge, varienceNoAge, 38)
print("P(38|0):",pNoAge)

P(38|1): 0.08479151603350477
P(38|0): 0.03202425896032866

In [9]:
pYes = totalYes.__len__()/df.__len__()
print("p(1):", pYes)
pNo = totalNo.__len__()/df.__len__()
print("p(0):", pNo)

p(1): 0.4117647058823529
p(0): 0.5882352941176471

In [10]:
pYesSalary = probability(meanYes, varienceYes, 71000)
print("P(71000|1):",pYesSalary)
pNoSalary = probability(meanNo, varienceNo, 71000)
print("P(71000|0):",pNoSalary)

P(71000|1): 1.3287881202425882e-05
P(71000|0): 1.0471583113637713e-05

In [11]:
pYesSalaryAge = pYes * pYesAge * pYesSalary
print("P(1|38,71000):%s"%round(pYesSalaryAge,9))

P(1|38,71000):4.64e-07

In [12]:
pNoSalaryAge = pNo * pNoAge * pNoSalary
print("P(0|38,71000):%s"%round(pNoSalaryAge,9))

P(0|38,71000):1.97e-07