In [1]:
import pandas as pd
import numpy as np
import findspark
findspark.init('C:\spark\spark-3.1.2-bin-hadoop3.2')
import pyspark

from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [2]:
flightex = spark.read.option("inferschema","true").option("header","true").csv("flightex.csv")
flightex.show()

+------------+---------+-----------+----------+-------------+
|FlightNumber|    Start|Destination|      Date|FlightsPerDay|
+------------+---------+-----------+----------+-------------+
|       LH913|Frankfrut|     London|2019-03-05|            3|
|       LH914|Frankfrut|     London|2019-03-06|            1|
|       LH915|Frankfrut|     London|2019-03-07|         null|
|       LH916|Frankfrut|     London|2019-03-08|            2|
|       LH917|Frankfrut|     London|      null|            3|
+------------+---------+-----------+----------+-------------+

In [22]:
flightex.fillna(value=1, subset=['Date']).show()

In [25]:
df = pd.read_csv('flightex.csv')

In [28]:
d = df.dropna()

In [29]:
d

  FlightNumber      Start Destination        Date  FlightsPerDay
0        LH913  Frankfrut      London  2019-03-05            3.0
1        LH914  Frankfrut      London  2019-03-06            1.0
3        LH916  Frankfrut      London  2019-03-08            2.0

In [30]:
flightex.dropna().show()

+------------+---------+-----------+----------+-------------+
|FlightNumber|    Start|Destination|      Date|FlightsPerDay|
+------------+---------+-----------+----------+-------------+
|       LH913|Frankfrut|     London|2019-03-05|            3|
|       LH914|Frankfrut|     London|2019-03-06|            1|
|       LH915|Frankfrut|     London|2019-03-07|         null|
|       LH916|Frankfrut|     London|2019-03-08|            2|
|       LH917|Frankfrut|     London|      null|            3|
+------------+---------+-----------+----------+-------------+